@model OnlineCinema.Models.PageMovieInfo
@{
    ViewBag.Title = "Киномакси онлайн кинотеатр";
}
    <div class="container">
        @{
            foreach (var movies in Model.Movie)
            {
                <div class="row">
                    <div class="col-md-3 font">
                        <div class="Heading">
                            <span>@movies.Name</span>
                            <span>@movies.Assessment</span>
                            <span class="glyphicon glyphicon-star"></span>
                        </div>
                        <div>
                            <a href="/Home/DetailsMovie/@movies.IdMovie">
                                <img src="~/Content/Images/@movies.SmallImg" class="Images" />
                            </a>
                        </div>
                        <span class="font-weight-bold">@movies.Duration.ToString(@"h' ч. 'mm") мин</span>
                    </div>
                    <div class="col-md-9">
                        @foreach (var hall in Model.Hall)
                        {
                            <div class="row hall">
                                @if (hall.Sessions != null)
                                {
                                    @hall.NameHall
                                    foreach (var session in hall.Sessions)
                                    {
                                        if (session.Movie.IdMovie == movies.IdMovie)
                                        {
                                            <div class="col">
                                                <a href="Home/Session/@session.IdSessions" class="btn btn-outline-primary">@session.Time.ToString("h':'mm")</a>
                                                <br />
                                                <span class="time">@session.Price.ToString()</span>
                                            </div>
                                        }
                                    }
                                }

                            </div>

                        }


                    </div>

                </div>

            }

        }
    </div>
<style>
    .vip {
    }

    .movie {
    }

    .session {
    }

    .Heading {
    }

    .Images {
        width: 200px;
        height: 170px;
    }

    .font {
        color: white;
    }

    .container {
        background-color: #212226;
        color: white;
    }

    .time {
        font-size: 11px;
        padding: 20px;
    }
   
</style>
